.wrapper {
    width: 900px;
    margin:0 auto;
}

.camping{
    float: right;
}


.content{
    width: 900px;
    float: left;
}




nav {
    background: #ffffff;
    height: 70px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;   
}
    
li {
    float: left;
    border-right: 1px solid black;
}
    
a {
    display: block;
    padding: 20px;
   
    background-color: #ffffff;
}